@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	body {
		@apply bg-dark text-light text-[15px] lg:text-[16px];
	}

	button {
		@apply py-3 px-5 rounded-lg;
	}

	footer {
		@apply border-t border-gray-border py-8 px-5 lg:py-14 lg:px-8;
		background: linear-gradient(0deg, #1D1F2D 0%, #1D1F2D 100%), #030014;
	}

	.footer-link {
		@apply text-gray text-sm;
	}

	.bg-gradient {
		background: linear-gradient(94.2deg, #00ABF3 11.55%, #00D8BE 54.83%, #00A464 94.82%);
		@apply text-light;
	}

	.grid-items {
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.07) 100%);
		@apply text-light rounded-[20px] lg:rounded-[48px] p-4 h-[300px] lg:h-[480px];
	}
}